<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>


<body class="container">
  <header>
    <%- include('../partials/header') %>
  </header>

  <main>
    <div class="jumbotron">

      <h2>Quotes!</h2>
      <% quotes.forEach(function(quote) { %>
        <div>
          <h3><%= quote.name %></h3>
          <p><%= quote.quote %></p>
        </div>
      <% }) %>
    

    </div>
  </main>

</body>

<footer>
  <%- include('../partials/footer') %>
</footer>

</html>
